@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Josefin+Sans:wght@200;300;400;500;600;700&family=Oswald:wght@700&family=Pangolin&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
.home-section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(110deg, white 68%, #ffc800 32%);
}
/* navbar */
#logo {
  margin-left: 30px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 1px black;
}
#logo img {
  margin-bottom: 10px;
}
#logo span {
  color: #ffc800;
}
.nav-item {
  margin-left: 40px;
}
.nav-item .nav-link {
  color: black;
  font-weight: bold;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

#first-child {
  color: #ffc800;
  text-shadow: 1px 1px 1px black;
}
.nav-item .nav-link:hover {
  color: #ffc800;
  text-shadow: 1px 1px 1px black;
}

.icons {
  margin-right: 30px;
}
.icons i {
  margin-left: 15px;
  cursor: pointer;
}
.icons i:hover {
  text-shadow: 1px 1px 1px black;
}
@media screen and (max-width: 982px) {
  .icons {
    margin-left: 25px;
  }
}
/* navbar */

/* home content */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  z-index: 0;
}
.home .image {
  flex: 1 1 300px;
}
.home .image img {
  width: 80%;
  animation: x 5s linear infinite;
  -webkit-animation: x 5s linear infinite;
}
@keyframes x {
  0%,
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
  }
}
.home .content {
  flex: 1 1 48px;
  margin-top: 35px;
}
.content h1 {
  margin-left: 45px;
  font-size: 65px;
  font-weight: bold;
  text-shadow: -1px 0px 0px black;
}
.content h1 span {
  color: #ffc800;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}
.content p {
  margin-left: 45px;
}
#btn {
  margin-left: 45px;
}
#btn button {
  width: 150px;
  height: 32px;
  letter-spacing: 3px;
  font-weight: bold;
  background-color: black;
  color: white;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#btn button:hover {
  background-color: #ffc800;
  color: black;
  border: none;
}
#btn span {
  margin-left: 10px;
  font: bold;
  font-size: 20px;
}
@media screen and (max-width: 1200px) {
  .home-section {
    height: 90vh;
  }
}
@media screen and (max-width: 799) {
  .home-section {
    height: 140vh;
  }
}
@media screen and (max-width: 550) {
  .home-section {
    height: 110vh;
  }
}
@media screen and (max-width: 420) {
  .content h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 320px) {
  .content h1 span {
    font-size: 60px;
  }
}
/* home content */

/* top icons  */
#top-icons {
  margin-top: 75px;
}
#top-icons h2 {
  text-align: center;
  font-size: 40px;
  border-bottom: 3px solid #ffc800;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#top-icons h2:hover {
  color: #ffc800;
  border-bottom: 3px solid black;
}
#top-icons i img {
  width: 70%;
  margin-left: 30px;
}

#top-icons h3 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
#top-icons h3:hover {
  color: #ffc800;
  cursor: pointer;
}
/* top icons  */

/* cards */
#cards {
  margin-top: 100px;
}
#cards .card h3 {
  color: #ffc800;
  font-weight: bold;
}
#cards .card p {
  color: #ffc800;
  font-weight: bold;
}
#rn {
  width: 150px;
  height: 32px;
  font-weight: bold;
  border: none;
  color: #ffc800;
  background: transparent;
  border: 2px solid #ffc800;
  text-shadow: 1px 1px 1px black;
}
#rn:hover {
  background-color: #ffc800;
  color: #fff;
}

/* cards */

/* burger */
#burger {
  margin-top: 100px;
}
#burger h2 {
  text-align: center;
  font-size: 40px;
  border-bottom: 3px solid #ffc800;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#burger h2:hover {
  color: #ffc800;
  border-bottom: 3px solid black;
}
#burger .card {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}
#burger .card:hover {
  background-color: #ffc800;
}
#burger .card h3 {
  font-weight: bold;
  text-shadow: 0px 0px 1px black;
}
#burger .card h5 span {
  color: black;
  float: right;
}
/* burger */

/* banner */
.banner {
  margin-top: 100px;
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url('../images/banner.png');
  background-position: center;
  background-size: cover;
  text-align: center;
}
.banner h3 {
  color: #ffc800;
  padding-top: 130px;
  font-size: 30px;
  font-weight: bold;
}
.banner p {
  color: #ffc800;
  font-size: 20px;
}
#btnorder {
  width: 200px;
  height: 35px;
  color: #ffc800;
  background: transparent;
  border: 2px solid #ffc800;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  font-weight: bold;
}
#btnorder:hover {
  background-color: #ffc800;
  color: #fff;
  text-shadow: 1px 1px 1px black;
}

/* banner */

/* topcards */
#topCards {
  margin-top: 60px;
}
#topCards .card {
  background-color: #ffc800;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#topCards .card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

/* topcards */

/* about */

#about {
  margin-top: 100px;
}
#about h2 {
  text-align: center;
  font-size: 40px;
  border-bottom: 3px solid #ffc800;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5;
}
#about .card:hover {
  background-color: #ffc800;
}
#about h2:hover {
  color: #ffc800;
  border-bottom: 3px solid black;
}
#about h3 {
  font-weight: bold;
  border-bottom: 2px solid #ffc800;
  text-shadow: 1px 1px 1px black;
}
#readmorebtn button {
  width: 200px;
  height: 32px;
  background: transparent;
  border: 2px solid #ffc800;
  color: #ffc800;
  font-weight: bold;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin-top: 20px;
}
#readmorebtn button:hover {
  background-color: #ffc800;
  color: #fff;
  text-shadow: 1px 1px 1px black;
}

/* about */

/* contact */
#h2 {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  border-bottom: 3px solid #ffc800;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5;
}
#h2:hover {
  color: #ffc800;
  border-bottom: 3px solid black;
}
#contact {
  margin-top: 10px;
  border: 2px solid #ffc800;
}
#contact h3 {
  font-size: 30px;
  border-bottom: 3px solid #ffc800;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
}
#contact input {
  width: 500px;
  height: 40px;
  margin-top: 20px;
  background-color: #ffc800;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#contact input:focus{
    background: transparent;
}
#contact ::placeholder{
    color: black;
    padding-left: 15px;
    font-weight: bold;
}
#sendmsg{
    width: 200px;
    height: 32px;
    background-color: transparent;
    color: #ffc800;
    font-weight: bold;
    border: 2px solid #ffc800;
    transition: .5s;
    margin-top: 25px;
}
#sendmsg:hover{
    background-color: #ffc800;
    color: #fff;
} 
#contact i{
    font-weight: bold;
    margin-top: 35px;
    color: #ffc800;
}
#contact i span{
    margin-left: 13px;
}
@media screen and (max-width:1200px) {
    #contact input{
        width: 350px;
    }
    
}
@media screen and (max-width:385px) {
    #contact input{
        width: 250px;
    }
    
}
/* contact */



/* footer */
#footer{
    padding-bottom: 30px;
    color: #fff;
    background-color: #ffc800;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 0px 0px 1px black;
}
#footer .footer-top{
    padding: 60px 30px;
    border: 2px solid #ffc800;
    font-weight: bold;
   text-shadow: 1px 1px 1px black;
   background-image: linear-gradient(110deg, black 68%, #ffc800 32%);
color: #fff;
}
#logo2{
    font-size: 30px;
    color: #fff;
      font-weight: bold;
   text-shadow: 1px 1px 1px black;
}
#logo2 img{
    margin-bottom: 10px;
}
#footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin-bottom: 300px;  
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;  
}

#footer .footer-top h4{
     font-size: 16px;
     font-weight: bold;
     padding-bottom: 700;
     position: relative;
}
#footer .footer-top .footer-links{
    margin-bottom: 30px;
}  
#footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}  
#footer .footer-top .footer-links ul li{
    padding-right: 10px;
    display: flex;
    align-items: center;        
}  
#footer .footer-top .footer-links ul li a{
    text-decoration: none;
    color: white;
    line-height: 1;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
#footer .footer-top .footer-links ul li a:hover{
    color: #ffc800;
}
#footer .footer-top .social-links a{
    font-size: 18px;
    display: inline-block;
    color: #fff;
    padding: 4px;
    line-height: 1;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    cursor: pointer;
}
#footer .footer-top .social-links a:hover{
    color: black;
}
#footer .copyright{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    margin-top: 12px;


}
#footer .copyright:hover{
    background-color: #fff;
    color: #ffc800;
}

/* footer */





















